@model BestCaseHotNews.Models.Post

@{
    ViewBag.Title = "Edit News Post";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Post</legend>

        @Html.HiddenFor(model => model.postID)

        <div class="editor-label">
            @Html.LabelFor(model => model.productID, "Product")
        </div>
        <div class="editor-field">
            @Html.DropDownList("productID", String.Empty)
            @Html.ValidationMessageFor(model => model.productID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.categoryID, "Category")
        </div>
        <div class="editor-field">
            @Html.DropDownList("categoryID", String.Empty)
            @Html.ValidationMessageFor(model => model.categoryID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.userID, "User")
        </div>
        <div class="editor-field">
            @*@Html.DropDownList("userID", String.Empty)*@
            @Html.Label(@User.Identity.Name)
            @Html.HiddenFor(model => model.userName, new { @Value =User.Identity.Name})
            @Html.ValidationMessageFor(model => model.userID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.headline)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.headline)
            @Html.ValidationMessageFor(model => model.headline)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.body)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.body)
            @Html.ValidationMessageFor(model => model.body)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.datePosted)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.datePosted)
            @Html.ValidationMessageFor(model => model.datePosted)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.lastUpdate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.lastUpdate)
            @Html.ValidationMessageFor(model => model.lastUpdate)
        </div>
        <div>
        <label>Select or Add Tags for the Post</label>
            @* @Html.DropDownListFor(model => model.UserID, new SelectList(ViewBag.DDLRoles, "UserID", "UserName", Model.UserID)) *@
             @Html.ListBox("tagsPicked", (MultiSelectList)ViewBag.tagsForList)
            <p>New tags should be separated by a comma</p>
            @Html.TextBox("newTags", String.Empty)
            @Html.Hidden("originalTags", (String)ViewBag.existingTags)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
